body {
    width: 100%;
    margin: 8%;
    font-family: sans-serif;
    background-color: #F7F7F7;
}

.container {
    width: 100%;
    margin-left: 0;
    height: 100%;
}
    

/*Main header styles*/

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgba(210, 5, 5, 0.1);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.main-header__brand img {
    margin-left: 105px;
    width: 64px;
    border-radius: 50%;
    float: left;
}

.main-navigation {
    float: right;
}

.main-navigation__item {
    display: inline-block;
    padding: 30px;
    height: 100%;
}


.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500px;
}

.main-navigation__item a:hover {
    color: #3DB166;
    border-bottom: 6px solid #3DB166;
    padding-bottom: 15px;
    
}

.main-navigation__item.active a {
    color: #3DB166;
}

/*Main section*/

.main-section {
    padding: 100px 0;
}

.main-baners {
    position: relative;
    margin-top: 50px;
}

.baner {
    padding: 140px 0;
    margin-top: 50px;
    background: linear-gradient(to right, #3e092a 0%, #0f256c 51%);
    margin-left: -123px;
    margin-top: -50px;
    background-repeat: no-repeat;
    /*
    height: 400px;
    background-image: url("./london.png");
    opacity: 0.2;
    border: 1px solid #163c69;
    border-radius: 0px;
    color: #3d924d;
    background-repeat: no-repeat;
    background-position: 10px 60px;
    border: 4px solid #163269;  
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;*/
}
    
.baner__brand h3 {
    color: #2AB166;
    margin-top: 5px;
    font-size: 20px;
}

.baner__brand h1 {
    color: white;
    margin-top: 5px;
    font-size: 50px;
}

.baner__brand {
    margin-left: 120px;

}

/*Blog section styles */
.blog-items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    width: 55%;
}
.blog-section__baner {
    display: inline-block;
}

.blog-item {
    overflow: hidden;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item__image:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item .blog-item__info {
    background-color: #CBE9BF;
}

.blog-item__title {
    font-size: 30px;
}

.blog-item__image {
    overflow: hidden;
}

.blog-item__image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.4s ease 0s;
}

.blog-item__image:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.blog-item__info {
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
    cursor: pointer;
}

.blog-item__info i {
    margin-right: 5px;
}

.blog-item__title {
    color: #444444;
    cursor: pointer;
}

.blog-item__title:hover {
    color: #3DB166;
    transition: all 0.4s ease 0.2s;
}

.blog-item__description {
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more {
    font-size: large13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    cursor: pointer;
 }

.blog-item__learn-more {
    color: white;
    text-decoration: none;
} 

.blog-item__learn {
    background-color: #3DB166;
    border: none;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 10px;

}

.blog-item__learn:hover {
    border: none;
    background:  #2F2F2F;
    background-size: 200% auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.5s ease;
}

.blog-section {
    width: 27%;
    margin: 1.5%;
    display: inline-block;
    top: -230px;
    position: relative
    
}

.blog-section {
    overflow: hidden;
}

.blog-section__text {
    display: inline-block;
}

.blog-section__baner {
    background-color: #EDEDED;
    height: 55px;
    width: 100%;
    border-bottom: 3px solid #3DB166;
}

.blog-sarlavha {
    color: #383838;
    margin-left: 20px;
}

.blog-text {
    color: #787A78;
    height: 100px;
}

.blog-item__image2 a img{
    width: 100px;
    height: 80px;
}

.blog-item__image2 {
    display: inline-block;
}

.blog-section__info {
    display: inline-block;
    top: -35px;
    position: relative;
    cursor: pointer;
    margin-left: 5%;
    
}

.blog-item__malumot {
    text-decoration: none;
    color: #475267;
}

.blog-item__malumot:hover {
    color: #191919;
}

.blog-item__vaqt {
    display: inline-block;
    top: 15px;
    position: relative;
    margin-left: 3%;
    font-size: 11px;
    color: #A0B3CD;
    
}

/*/Blog section styles */